.sky {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
#sky {
  background: lightskyblue;
}
body > * {border: 1px solid black;}
.house {
    width: 500px;
    height: 421px;
    border: 5px solid lightgray;
    background: white;
    position: relative;
    top: 100px;
  }
.roof {
    height: 100px; width: 600px;
    position: relative;
    left: -50px;
    bottom: 300px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px solid #555;
  }
.window {
    z-index: 100;
    width: 100px;
    height: 100px;
    border: 5px solid lightgray;
    background: royalblue;
    position: relative;
    border-radius: 100%;
    top: 150px;
    right: 50px;
  }

.door {
    width: 100px;
    height: 200px;
    border: 5px solid lightgray;
    background-color: brown;
    position: relative;
    left: 100px;
    bottom: 90px;
  }
.door-knob{
    width: 20px;
    height: 20px;
    position: relative;
    top: 100px;
    background-color: silver;
    border-radius: 100%;
    border: black 1px solid;
}