.box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
.top-gap {
  height: 200px;
}
col-3 > .box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.swatch {
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
}
.left-sidebar {
    border-right: 1px solid black;
}
body{
    background-color: #f7f8f9;
}
